:root {
  --clr-primary-orange: #ff5830;
  --clr-primary-blue: #3040ff;
  --clr-secondary: #ffcc33;
  --clr-teritiary: #26db4e;

  --clr-neutral-light: #fafafa;
  --clr-neutral-dark: #111111;

  --font-size: 1.2rem;

  --section-padding-vertical: 10rem;
}
