:root {
  --clr-primary-orange: #ff5830;
  --clr-primary-blue: #3040ff;
  --clr-secondary: #ffcc33;
  --clr-teritiary: #26db4e;

  --clr-neutral-light: #fafafa;
  --clr-neutral-dark: #111111;

  --font-size-body: 1.2rem;
  --font-size-subtitle: 1.5rem;
  --font-size-title-large: 3.5rem;
  --font-size-title-medium: 2.5rem;
  --font-size-title-small: 2rem;

  --font-weight-bold: bold;
  --font-weight-medium: medium;
  --font-weight-normal: normal;
  --font-weight-light: light;

  --section-padding-vertical: 10rem;
}
