@import url("properties.css");

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0;
}

section:first-child {
  padding: 0;
}

section > div,
section > nav > ul {
  padding: 0 1.5rem;
}

/* Navigation bar styles */
section nav {
  padding: 1rem 0;
  border-bottom: 2px solid var(--clr-neutral-dark);
}

section nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

section nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

section nav h1 {
  font-size: var(--font-size-title-small);
  font-family: "Playfair Display", serif;
}

section nav a {
  text-decoration: none;
  transition: all ease-in-out 0.1s;
}

section nav a:hover {
  transition: all 0.1s;
  color: var(--clr-primary-orange);
}

@media (min-width: 520px) {
  section nav ul {
    flex-wrap: nowrap;
  }

  section nav li:first-child {
    text-align: unset;
  }
}

/* Hero section styles */
.hero .content {
  display: flex;
  gap: 5rem;
}

.hero .content > div {
  width: 50%;
}

.hero .content p:first-child {
  font-size: var(--font-size-subtitle);
}

.hero .content p:first-child span,
.hero .content h2 {
  display: block;
  font-size: var(--font-size-title-large);
  font-weight: var(--font-weight-bold);
  font-family: "Playfair Display", serif;
}
.hero .content .purpose {
  color: var(--clr-primary-orange);
}

/* Divider style */
.divider .content {
  display: flex;
}

.divider .accent {
  width: 25%;
}

.accent--orange {
  border: 1px solid var(--clr-primary-orange);
}

.accent--blue {
  border: 1px solid var(--clr-primary-blue);
}

.accent--yellow {
  border: 1px solid var(--clr-secondary);
}

.accent--green {
  border: 1px solid var(--clr-tertiary);
}
