@import url("properties.css");

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0;
}

section.divider,
section.divider .content {
  padding: 0;
}

section:first-child {
  padding: 0;
}

section > div,
section > nav > ul {
  padding: 0 1.5rem;
}

/* Navigation bar styles */
section nav {
  padding: 1rem 0;
  border-bottom: 2px solid var(--clr-neutral-dark);
}

section nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

section nav li:first-child {
  flex-basis: 100%;
  text-align: center;
  font-weight: var(--font-weight-medium);
}

section nav h1 {
  font-size: var(--font-size-title-small);
  font-family: "Playfair Display", serif;
}

section nav a {
  text-decoration: none;
  transition: all ease-in-out 0.1s;
  color: var(--clr-neutral-dark);
}

section nav a:hover {
  transition: all 0.1s;
  color: var(--clr-primary-orange);
}

@media (min-width: 520px) {
  section nav ul {
    flex-wrap: nowrap;
  }

  section nav li:first-child {
    text-align: unset;
  }
}

/* Hero section styles */
.hero {
  border-bottom: 2px solid var(--clr-neutral-dark);
}

.hero .content {
  display: flex;
  gap: 2rem;
}

.hero .content p:first-child {
  font-size: var(--font-size-subtitle);
}

.hero .content p:first-child span,
.hero .content h2 {
  display: block;
  font-size: var(--font-size-title-small);
  font-weight: 900;
  font-family: "Playfair Display", serif;
}

.hero .content .purpose {
  color: var(--clr-primary-orange);
}

@media (min-width: 520px) {
  .hero .content p:first-child span,
  .hero .content h2 {
    font-size: var(--font-size-title-medium);
  }
}

@media (min-width: 720px) {
  .hero .content > div:first-child {
    max-width: 80%;
  }

  .hero .content p:first-child span,
  .hero .content h2 {
    font-size: var(--font-size-title-large);
  }
}

@media (min-width: 1200px) {
  .hero .boxes {
    position: relative;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .hero .boxes .box {
    transition: 0.2 all ease-in-out;
  }

  .hero .boxes .box--orange {
    background: var(--clr-primary-orange);
  }

  .hero .boxes .box--blue {
    background: var(--clr-primary-blue);
  }

  .hero .boxes .box--yellow {
    background: var(--clr-secondary);
  }

  .hero .boxes .box--green {
    background: var(--clr-tertiary);
  }

  .hero .boxes .circle {
    position: absolute;

    border-radius: 50%;
    border: 2px solid var(--clr-neutral-light);
    z-index: 99;
  }

  .hero .boxes .circle--large {
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
  }

  .hero .boxes .circle--medium {
    width: 250px;
    height: 250px;
    bottom: 0;
    right: 0;
  }

  .hero .content > div:first-child {
    max-width: 60%;
  }
}

/* Divider style */
.divider .content {
  display: flex;
}

.divider .accent {
  width: 25%;
}

.accent--orange {
  border: 1px solid var(--clr-primary-orange);
}

.accent--blue {
  border: 1px solid var(--clr-primary-blue);
}

.accent--yellow {
  border: 1px solid var(--clr-secondary);
}

.accent--green {
  border: 1px solid var(--clr-tertiary);
}

/* About styles */

.about .content h2 {
  font-size: var(--font-size-title-small);
}

.about .content-divider {
  padding: 2rem 0;
}

.about .content .info {
  padding: 1rem 0;
  padding-left: 2rem;
}

.about .info .callout {
  font-size: var(--font-size-title-medium);
  padding-right: 0.5rem;
}

.about .info--programming .callout {
  color: var(--clr-primary-orange);
}

.about .info--age .callout {
  color: var(--clr-primary-blue);
}

.about .info--commits .callout {
  color: var(--clr-secondary);
}

.about .content .info--programming {
  border-left: 2px solid var(--clr-primary-orange);
}

.about .content .info--age {
  border-left: 2px solid var(--clr-primary-blue);
}

.about .content .info--commits {
  border-left: 2px solid var(--clr-secondary);
}

.about .content h3 {
  font-size: 1.5rem;
}

.about .content-divider img {
  max-height: 400px;
  margin: 1rem auto;
}

@media (min-width: 720px) {
  .about .content-divider .infos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
}

@media (min-width: 920px) {
  .about .content h2 {
    font-size: var(--font-size-title-medium);
  }

  .about .content-divider {
    display: flex;
    gap: 2rem;
  }

  .about .content-divider img {
    height: 100%;
    max-height: unset;
    margin: 0;
  }

  .about .content-divider .infos {
    display: block;
  }
}

/* Skills section */
.skills .content .skills {
  display: grid;
  gap: 1rem;
}

.skills .skill--java,
.skills .skill--html5 {
  border: 2px solid var(--clr-primary-orange);
}

.skills .skill--javascript {
  border: 2px solid var(--clr-secondary);
}

.skills .skill--css3 {
  border: 2px solid var(--clr-primary-blue);
}

.skills .skill--vuejs {
  border: 2px solid var(--clr-tertiary);
}

.skills .skill .skill-info {
  padding: 2rem;
}

.skills i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  min-height: 200px;
  transition: 0.2 all ease-in-out;
  color: var(--clr-neutral-light);
}

.skills i.bxl-java {
  background: var(--clr-primary-orange);
}

.skills i.bxl-javascript {
  background: var(--clr-secondary);
}

.skills i.bxl-html5 {
  background: var(--clr-primary-orange);
}

.skills i.bxl-css3 {
  background: var(--clr-primary-blue);
}

.skills i.bxl-vuejs {
  background: var(--clr-tertiary);
}

.skills i:hover {
  border: 1px solid var(--clr-neutral-dark);
  transition: 0.2 all ease-in-out;
}
